<div class="container-fluid">



	<h3><%= @bid.user.full_name %></h3>
	<p><%= @bid.user.role %></p>
	<p>bidding</p>
	<strong>$<%= @bid.amount %></strong>
	<p>on</p>
	<h3>Show <%= @bid.show_id %></h3>



</div>