<div class="home">
	<div class="top-box">
		<div class="message">

			<h1>Create and book shows.</h1>
		</div>

	</div>
	<div class="middle-box">
		<div class="col-md-4 venue-box">
			<h3>Artist</h3>
			</hr>
			<ul>
				<li>Find shows and venues</li></br>
				<li>Upload music, pictures and videos</li></br>
				<li>Contact venues</li></br>
				<li>Grow your fan base</li>

			</ul>
			<div class="venue-btn">
				<button class="btn btn-primary"><%= link_to "Register", register_path %></button>
			</div>


		</div> 
		<div class="col-md-4 venue-box">
			<h3>Venue</h3>
			</hr>
			<ul>
				<li>Create shows</li></br>
				<li>Recieve bids from artists</li></br>
				<li>Request and contact artists</li></br>
				<li>Grow your fan base</li>

			</ul>
			<div class="venue-btn">
				<button class="btn btn-primary"><%= link_to "Register", register_path %></button>
			</div>


		</div>
		<div class="col-md-4 venue-box">
			<h3>Fan</h3>
			</hr>
			<ul>
				<li>Follow artists and venues</li></br>
				<li>Find shows</li></br>
				<li>Post on show pages</li></br>
				<li>Find music, pictures and videos</li>
			</ul>
			<div class="venue-btn">
				<button class="btn btn-primary"><%= link_to "Register", register_path %></button>
			</div>


		</div>




	</div>
	<div class="bottom-box">




	</div>



</div>

