/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
 	padding-top: 50px;
 	background-color: #e9eaed;
 }

 .sup input {
 	width: 240px;
 	margin-left: 10px;
 	margin-bottom: 5px;

 }
 .top {
 	margin-top:20px;
 }

.alert {
	margin-top: 10px;
}
.navbar {
	padding-right: 10px;
}
.content {
	height: auto;
	width:1000px;
	margin:0 auto;
	padding:0 0;
}
.home h1 {
	font-family: sans-serif;
	font-size: 50px;
	color: #f8f8f8;
}
.message{

}
.top-box{
	height: 500px;
	padding: 150px 30px;
	background: #333300;
}
.middle-box{
	height: 300px;
}
.bottom-box{
	height:150px;
}
.venue-box{
	background: #f9f9f9;
	height: 300px;
	border:1px solid;
	border-color:#e5e6e9;
}
.venue-box h3{
	text-align: center;
}

.venue-btn button{
	font-size: 24px;
	width: 150px;
	margin: 20px auto;
}
.venue-btn {
	margin: 0px auto;
	width: 150px;
}
.profile_pic {
	width:200px;
	margin:none;
	float:left;
}

.profile{
	min-height: 600px;
	margin-top: none;
	width:1000px;

}
.top_bar{
	width:100%;
	height:53px;
	background: #f8f8f8;
}

.top_nav{
	width:1000px;
	margin: 0 auto;
	position:absolute;
}

.top-section{
	height:200px;
	background: #f8f8f8;
	margin-bottom: 15px;
}

.name{
	margin:20px 0 18px 10px;
	min-width:150px;
	height: 122px;
	max-width:300px;
	float:left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.profile_header{
	height:200px;
	width:780px;
	float:left;
}
.home {
	background: #fff;
}
.profile_nav{
	height:40px;
	width:780px;
	float:left;

	border-bottom:2px solid #e9eaed;
	
}
.profile_nav li{
	border-left:1px solid #e9eaed;
}

.feed{
	min-height: 600px;
	margin-top: 20px;
	background: #e9eaed;


}
.global_feed{
	min-height: 600px;
	margin-top: 40px;
	width:1000px;

}
.profile_info{
	margin:0px 0px 0px 0px;
	background: #f5f5f5;
	border:1px solid;
	border-color:#e5e6e9;
	width: 200px;
	position: relative;
  	min-height: 1px;
  	padding:10px 0;
}
.stream{
	min-height: 1000px;
	background: #e9eaed;
}
.post{

	margin-bottom: 40px;
	min-height: 600px;
}
.post_button{
	float:right;



	border-top:1px solid #e5e6e9;
}
.post_button button{
		width: 60px;
}
.post_area textarea{
	border:none;


}
.post_area {
	height: 120px;
	margin-bottom: 20px;
	background:#f5f5f5;

}
.zambonie{
	height:1000px;
}

.search{
	margin:0px 0 0 250px;
	width:450px;
	}
.shows{
	margin: 20px 20px;
	padding:10px 10px;
	width:200px;
	max-width: 200px;
	float:left;
	display:block;
	overflow: hidden;
	min-height: 200px;
  	background-color: #f5f5f5;
  	border: 1px solid #e3e3e3;
  	border-radius: 4px;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

}
.shows a{
	color:#fff;
}
.user{
	margin:10px 3px 20px 25px;
	width:200px;
	max-width: 200px;
	float:left;
	display:block;
	overflow: hidden;
	
	height: 420px;
  	background-color: #f5f5f5;
  	border: 1px solid #e3e3e3;
  	border-radius: 4px;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.user_top{
	height:200px;
	
}
.user_top img{
	height:200px;
	width:200px;

}
.user_bottom{
	padding-left: 20px;
}
.profile_pic img{
	width:200px;
	min-height: 200px;

}
.post_content {
	width:200px;
	padding:10px 10px;
	overflow: hidden;

}
.display{
	width:1000px;
	height: auto;

}
.label a{
	color:#fff;
}
.thumb img{
	width:80px;
	height:80px;
}



